body {
    background-color: #FFF;
    margin: auto;
    width: 1440px;
    height: 2844px;
    font-family: Raleway, serif;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 92px 50px;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    text-underline-offset: 3.5px;
    width: 1340px;
    height: 109px;
}

.header_menu {
    width: 388px;
    align-self: center; 
}

.address {
    font-style: normal;
    line-height: 24.3px;
    width: 240px;
    align-self: center;
    justify-self: end;
}

.header__logo-image {
    width: 100%;
    height: 105px;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
}

.menu_item {
    list-style: circle;
}

.item_main {
    list-style: none; 
}

.cover {
    background-image: url("/images/cover.jpg");
    width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.letter-spacing-extended {
    letter-spacing: 60px; 
}

.cover__description {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px; 
    text-transform: uppercase;
    margin-right: 50px;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    margin-top: 156px;
    margin-right: 60px;
    margin-bottom: 62px;
    font-size: 22px;
    word-spacing: 16px;
    font-weight: 400;
}

.button {
    color: #FFF;
    border: 1px solid #FFF;
    font-family: Raleway, sans-serif;
    height: 52px;
    box-shadow: none;
    background-color: transparent;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 5;
    text-decoration: none;
    font-style: normal;
    padding: 12px 32px;
    margin-top: 143px;
}

.cover__title {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%; 
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-top: 167px;
    padding-left: 50px;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    position: relative;
    top: 11px;
    left: 455px
}

.aligned-text_right {
    position: relative;
    top: 16px;
    left: 923px
}

.lots {
    width: 1340px;
    margin: 180px 50px;
}

.lots__heading{
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.more {
    display: block;
    padding-left: 40px;
    padding-top: 30px;
    font-size: 20px;
    text-underline-offset: 4px;
} 

.lots__card-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #FFF;
    font-family: Raleway, sans-serif;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6000000238418579);
}

.card {
    width: 430px;
    height: 450px;
}

.card__title {
    width: 350px;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%; 
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 40px;
}

.card__text {
    font-size: 20px;
    width: 350px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.card_type_film {
    background-image: url("/images/card-lot-01.jpg");
    background-size: cover;
}

.card_type_book {
    background-image: url("/images/card-lot-02.jpg");
    background-size: cover;
}

.card_type_picture {
    background-image: url("/images/card-lot-03.jpg");
    background-size: cover;
}

.about {
    display: grid;
    grid-template-columns: 430px 885px;
    column-gap: 25px;
    width: 1340px;
    height: 487px;
    margin: 180px 50px;
}

.about__column {
    justify-self: center;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    position: relative;
    top: 63px;
    left: 46px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    align-self: center;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    font-size: 20px;
    width: 885px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1340px;
    height: 97px;
    margin: 92px 50px;;
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__menu-list {
    list-style: none;
    text-align: center; 
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    list-style: none;
}
    
.footer__social-icon {
    width: 48px;
    height: 100%;
}
